* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #AB6C82; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #685D79;
    color: white;
}

body {
    background-image: url("https://wallpaperaccess.com/full/203545.jpg");
}

h2 {
    font-weight: normal;
}

main {
    padding: 4rem 0;
    padding-bottom: 10rem;
}

.container {
    max-width: 69.375rem;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container h1 {
    text-align: center;
}

form {
    margin: 10px 0;
}

.input-text {
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .25);
}

.input-text:focus, .button:focus {
    outline: none;
}

.button {
    padding: 8px 12px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    background-color: #685D79;
    color: white;
}

.button:hover {
    cursor: pointer;
    transition: .3s ease;
    background-color: #857a94;
}

#addForm {
    display: flex;
    justify-content: space-between;
}

.button-red {
    background-color: rgb(209, 37, 37);
}

.button-red:hover {
    background-color: rgb(226, 79, 79);
}

.title-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-2 h2{    
    margin: 15px 0;
}

.list-group {
    margin-top: 20px;
    list-style-type: none;
}

.list-group-item {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 12px 10px;
    border-left: #685D79 4px solid;
    padding-left: 30px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttons .button {
    padding: 5px 10px;
}

.buttons .button-red {
    margin-left: 5px;
}

.features {
    display: flex;
    align-items: center;
}

.title-2 {
    border-bottom: #857a94 2px solid;
}

.line-through {
    text-decoration: line-through;
    color: rgb(128, 127, 127);
}

.checkbox {
    height: 15px;
    width: 15px;
    margin-left: 25px;
    margin-right: 5px;
}

.features label {
    font-size: 13px;
}

.cb {
    display: flex;
    align-items: center;
}


@media (max-width: 500px) {
    .title-2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .title-2 h2 {
        order: 1;
    }

    #addForm {
        flex-direction: column;
    }

    #addForm .remove-btn {
        margin-top: 5px;
    }

    .features {
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .cb {
        display: flex;
    }

    .cb .checkbox {
        margin-left: 2px;
    }
}